*{
    margin:4px;
    padding: 0;
    font-family: Helvetica;
}

h1{
    
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image:url("/DasmotoArtsCrafts/Resources/image/pattern.jpeg");
}

body{
    margin: 4px;
}

section{
    margin: 40px 0;
}

h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    
}

.brushes h2{
   background-color: mediumseagreen; 
}

.frames h2{
    background-color: lightcoral;
}

.paint h2{
    background-color: skyblue;
}

h3{
    font-weight:bold;
}
a{
    font-weight: bold;
    color:blue;
}