*{
    margin:0;
    padding:0;
    color:seashell;
}
body{
    font-family:Helvica;
    color:seashell;
    background-color: black;
    justify-content:center;
    text-align: center;
    width:96%;
}

header{
    display: flex;
    height:59px;
    padding: 0 10px;
    justify-content: space-between;  
    align-items: center;
    z-index: 1;
    text-align: left;
    font-size: 22px;
    position:fixed;
    width:96%;
    margin:0;
    background-color: black;
    
   
}
div.title{
    background-color: black;
}


.logo img{
    height:50px;
    
}
nav li{
display: inline-flex;
text-decoration: underline;

}
nav li:hover{
 text-decoration: none;
 color:gray; 
 font-size: larger;  
}
nav li:active{
    text-decoration: none;
    color:purple;   
   }


main{
    position: relative;
    top: 69px;
    padding:20px;
    justify-content:center;
    

    
}
.banner img{
    height: 700px
    
}
.title{
    position:absolute;
    top:350px;
    width:100%;

}
.teaofmonth{
    
    font-size: 22px;
    position:relative;
    top:100px;
    padding-top: 50px;
    
    
}

.teaofmonth .cards{
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
max-width:1000px;
padding-top: 20px;
padding-bottom:50px;

}




section.locations{
    position: relative;
    display: flex;
    top: 69px;
    height:500px;
    background-image: url(../images/img-locations-background.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding-top:50px;
    
    
    

  
}



.locationscards{
    

    display:flex;

   justify-content: space-around;
   
  

     
  

}


.cards img{
    width:300px;
    height:200px;
    padding:10px;
}

div.square{
    height:300px;
    width:300px;
    margin:0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    
    
  
    
}

div.square p{
    font-size: 22px;
}

section.contact{
    position: relative;
    top:69px;
    margin: 20px;
    height:150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}
footer{
    position: relative;
    top:69px;
    margin:20px 10px;
    display: flex;
    justify-content: flex-start;
}