html{
    font-size:16px;
}

*{
    margin:0;
    padding:0;
    font-family: Rubik;

}
body{
    background-color: white;
    
}

header{
    display:flex;
    position: fixed;
    background-color:rgba(232, 227, 75, 1);
    color: white;
    width:100%;
    height: 50px;
    
    padding: 1rem 1rem; 
    z-index: 2;

}

header h4{
 width: 70%;
 font-size: 2rem;

}
header ul{
    display: inline-flex;
    font-size:1.75rem;
    justify-content: flex-end;

    

}
header li{
    display: inline-flex;
    padding-right: 0.5rem;
}

header a{
    text-decoration: underline;
    color:white;
}
header a:hover{
    font-size: 2rem;
}
main{
    position: relative;
    top: 82px;
    min-height: fit-content;
    height: 1850px;

}
div.filter{
    
    background-color:rgba(232, 227, 75, 0.4) ;
    height: 690px;
    width:100%;
    z-index: 1;
    position: relative;   
    bottom: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
div.banner{

background-image: url(./images/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
background-size: cover;
height: 690px;

z-index: 0;


}
div.filter h1{
    font-size: 5rem;
    color: white;
}

div.filter h4{
    font-size: 2rem;
    color: white;
   
}

section.services{
    position: relative;
    bottom: 690px;
    height:690px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8) ;
    padding-top:0 ;
    margin-top: 0;
}
section.services h3{
    font-size: 3rem;
    color: white;
    width: 100%;
    background-color:rgba(232, 227, 75, 0.7) ;
    text-align: center;
    margin-top: 0;
    height: 69px;
    
}
div.imagescontainer{
   
    display: flex;
    width: 95%;
    height: 80%;
    justify-content: center;
    align-items: center;
    
}
div.imagecontainer{
    height:400px;
    width:400px;
    
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

div.imagecontainer h5{

    color: rgba(232, 227, 75, 1) ;
    font-size: 2rem;
    background-color:rgba(0, 0, 0, 0.8) ;
}

div.imagecontainer.process{
background-image: url(./images/PROCESS.jpg);
background-size: cover;
background-repeat: no-repeat;
}

div.imagecontainer.business{
    background-image: url(./images/BUSINESS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
div.imagecontainer.project{
        background-image: url(./images/PROJECT.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        }


section.contact{
    background-color:rgba(232, 227, 75, 0.7) ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:690px;
    height:430px;
    flex-direction: column;
    
}
div.square{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2rem;
    height:320px;
    width:500px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.contact h3{
     margin-bottom: 10px;
     color: white;
     font-size: 3rem;

}

footer{
    position: relative;
    top: 40px;
    height:50px;
    background-color: black;
    color:white;
    margin:0;

}